.Header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}



.voting {
    display: flex;
    justify-content: space-around;
}



.Leaderboard {
    list-style: none;
}

.animal-list-item {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    border-bottom: 1px solid #2d2d2d;
}

.animal-votes {
    margin-left: 50px;
    height: 200px;
    font-size: 96px;
    line-height: 200px;
    vertical-align: bottom;
}

.animal-image {
    width: 200px;
    height: 200px;
}